correlation.*
cronjob_history.*
flow_node_instance.*
process_model.*
logging*
metrics*
persistence_api
dist
node_modules

# OSX-finder info-files
*.DS_Store

# IDE configs
.vscode/*
!.vscode/launch.json
.idea/
*.iml
*.iws
.classpath
.project
.settings/

